syntax: glob


target/
*target*
*/target/
*jar*
.*.swp

*class
build/
out/
lib/
.settings/
.cache
.metadata/
.idea*
.idea
.gradle/
.history
lib_managed
project/boot
project/project
project/target
*.iml
*.log
*.bak
.classpath
.project
*.orig
.worksheet/
*.sc
.externalToolBuilders/

blender/
cuda/
drools/
gamer/
pro/
research/
scenicView.properties
.DS_Store
*.private