
.glass {
  -fx-fill: linear-gradient(to right,
      rgba(100%,100%,100%,0.21) 0%, 
      rgba(100%,100%,100%,0.17) 1.8%, 
      rgba(20%,20%,20%,0.212) 3%,
      rgba(20%,20%,20%,0.256) 12%,
      rgba(100%,100%,100%,0.25) 12.3%,
      rgba(100%,100%,100%,0.086) 49%,
      rgba(0%,0%,0%,0.15) 51%,
      rgba(0%,0%,0%,0.20) 66%,
      rgba(0%,0%,0%,0.15) 82%,
      rgba(100%,100%,100%,0.1) 83%, 
      rgba(100%,100%,100%,0.18) 94.5%,
      rgba(0%,0%,0%,0.188) 95%,
      rgba(0%,0%,0%,0.188) 97.3%, 
      rgba(100%,100%,100%,0.137) 98.8% 
      );
}
.metal {
  -fx-fill: linear-gradient(to right, 
      #8c8e8e 0%, 
      #8f8f8f 1.6%, 
      #7e7e7e 2.4%, 
      #494949 3.8%, 
      #4c4c4c 7.2%,
      #777777 12%,
      #ffffff 12.3%,
      #ffffff 18%,
      #dddddd 23%,
      #333333 50%,
      #242424 51%,
      #2c2c2c 80%,
      #676767 85%,
      #666666 94.5%,
      #1a1a1a 95%,
      #494949 98.8%,
      #656565 100% 
      );
}
.metal-top {
  -fx-fill: linear-gradient(to right, 
      #2f353b 3.8%,
      #1c2125 11%,
      #d1d4d6 15%, 
      #ced1d3 20%, 
      #333333 50%,
      #0e0f11 51%,
      #070708 63%, 
      #14171a 80%, 
      #242a2f 84%, 
      #2c3339 88%, 
      #888 90%
      );
}